@font-face {
  font-family: "button-font";
  src: url("/fonts/Sunflower-Medium.ttf");
}
@font-face {
  font-family: "sub-heading-font";
  src: url("/fonts/PTSerif-Bold.ttf");
}
@font-face {
  font-family: "small-font";
  src: url("/fonts/PTSerif-Regular.ttf");
}
@font-face {
  font-family: "big-font";
  src: url("/fonts/ZenTokyoZoo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "common-font";
  src: url("/fonts/ZenMaruGothic-Bold.ttf");
}
@font-face {
  font-family: "pera-font";
  src: url("/fonts/ZenMaruGothic-Medium.ttf");
}
@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-Regular.ttf");
}
@font-face {
  font-family: "interBold";
  src: url("/fonts/Inter-Bold.ttf");
}
@font-face {
  font-family: "interBlack";
  src: url("/fonts/Inter-Black.ttf");
}
@font-face {
  font-family: "interLite";
  src: url("/fonts/Inter-Light.ttf");
}
/*
|----------------------------------------------------------------------
|       Media Queries
|----------------------------------------------------------------------
*/
/*
|----------------------------------------------------------------------
|		Loader
|----------------------------------------------------------------------
*/
#main_map {
  position: relative;
  min-height: 100vh;
  background: #f0f3f7;
  padding: 6rem 0;
  margin-top: -8rem;
  overflow: hidden;
}

.__next_zoom #site_loader {
  transform: scale(3);
  pointer-events: none;
  opacity: 0;
}

#site_loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 3rem 0;
  z-index: 999999;
  overflow: hidden;
  transition: all ease 0.5s;
  /* @include mobile_inverse {
  	// margin-top: -10rem;
  } */
}
#site_loader .line {
  --num: 100;
  position: relative;
  width: 100%;
  padding: 0 2rem;
  transition: all 0.5s linear;
  z-index: 1;
}
#site_loader .line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: calc(50% + 0.1rem);
  height: 2rem;
  background: linear-gradient(45deg, #ffdaeb, #fdd1c1, #fcf6bd, #d0f4de, #a9def9);
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  animation: clip 1s linear forwards;
  z-index: 2;
}
#site_loader .line#move_line {
  animation: num 1s linear forwards;
}
#site_loader .line#move_line::before, #site_loader .line.move::before {
  animation: clip_inverse 0.3s linear forwards;
}
#site_loader .line#move_line.zoom, #site_loader .line.move.zoom {
  transform: scale(3);
  opacity: 0;
}
@keyframes num {
  0% {
    --num: 0%;
  }
  1% {
    --num: 1%;
  }
  2% {
    --num: 2%;
  }
  3% {
    --num: 3%;
  }
  4% {
    --num: 4%;
  }
  5% {
    --num: 5%;
  }
  6% {
    --num: 6%;
  }
  7% {
    --num: 7%;
  }
  8% {
    --num: 8%;
  }
  9% {
    --num: 9%;
  }
  10% {
    --num: 10%;
  }
  11% {
    --num: 11%;
  }
  12% {
    --num: 12%;
  }
  13% {
    --num: 13%;
  }
  14% {
    --num: 14%;
  }
  15% {
    --num: 15%;
  }
  16% {
    --num: 16%;
  }
  17% {
    --num: 17%;
  }
  18% {
    --num: 18%;
  }
  19% {
    --num: 19%;
  }
  20% {
    --num: 20%;
  }
  21% {
    --num: 21%;
  }
  22% {
    --num: 22%;
  }
  23% {
    --num: 23%;
  }
  24% {
    --num: 24%;
  }
  25% {
    --num: 25%;
  }
  26% {
    --num: 26%;
  }
  27% {
    --num: 27%;
  }
  28% {
    --num: 28%;
  }
  29% {
    --num: 29%;
  }
  30% {
    --num: 30%;
  }
  31% {
    --num: 31%;
  }
  32% {
    --num: 32%;
  }
  33% {
    --num: 33%;
  }
  34% {
    --num: 34%;
  }
  35% {
    --num: 35%;
  }
  36% {
    --num: 36%;
  }
  37% {
    --num: 37%;
  }
  38% {
    --num: 38%;
  }
  39% {
    --num: 39%;
  }
  40% {
    --num: 40%;
  }
  41% {
    --num: 41%;
  }
  42% {
    --num: 42%;
  }
  43% {
    --num: 43%;
  }
  44% {
    --num: 44%;
  }
  45% {
    --num: 45%;
  }
  46% {
    --num: 46%;
  }
  47% {
    --num: 47%;
  }
  48% {
    --num: 48%;
  }
  49% {
    --num: 49%;
  }
  50% {
    --num: 50%;
  }
  51% {
    --num: 51%;
  }
  52% {
    --num: 52%;
  }
  53% {
    --num: 53%;
  }
  54% {
    --num: 54%;
  }
  55% {
    --num: 55%;
  }
  56% {
    --num: 56%;
  }
  57% {
    --num: 57%;
  }
  58% {
    --num: 58%;
  }
  59% {
    --num: 59%;
  }
  60% {
    --num: 60%;
  }
  61% {
    --num: 61%;
  }
  62% {
    --num: 62%;
  }
  63% {
    --num: 63%;
  }
  64% {
    --num: 64%;
  }
  65% {
    --num: 65%;
  }
  66% {
    --num: 66%;
  }
  67% {
    --num: 67%;
  }
  68% {
    --num: 68%;
  }
  69% {
    --num: 69%;
  }
  70% {
    --num: 70%;
  }
  71% {
    --num: 71%;
  }
  72% {
    --num: 72%;
  }
  73% {
    --num: 73%;
  }
  74% {
    --num: 74%;
  }
  75% {
    --num: 75%;
  }
  76% {
    --num: 76%;
  }
  77% {
    --num: 77%;
  }
  78% {
    --num: 78%;
  }
  79% {
    --num: 79%;
  }
  80% {
    --num: 80%;
  }
  81% {
    --num: 81%;
  }
  82% {
    --num: 82%;
  }
  83% {
    --num: 83%;
  }
  84% {
    --num: 84%;
  }
  85% {
    --num: 85%;
  }
  86% {
    --num: 86%;
  }
  87% {
    --num: 87%;
  }
  88% {
    --num: 88%;
  }
  89% {
    --num: 89%;
  }
  90% {
    --num: 90%;
  }
  91% {
    --num: 91%;
  }
  92% {
    --num: 92%;
  }
  93% {
    --num: 93%;
  }
  94% {
    --num: 94%;
  }
  95% {
    --num: 95%;
  }
  96% {
    --num: 96%;
  }
  97% {
    --num: 97%;
  }
  98% {
    --num: 98%;
  }
  99% {
    --num: 99%;
  }
  100% {
    --num: 100%;
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0% 0 0);
    clip-path: inset(0 0% 0 0);
  }
}
@keyframes clip_inverse {
  0% {
    -webkit-clip-path: inset(0 0% 0 0);
    clip-path: inset(0 0% 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
}
#site_loader .line > .circle {
  position: relative;
  max-width: 50rem;
  background: conic-gradient(#fff calc(100% - var(--num) * 1), transparent 0), linear-gradient(-45deg, #ffdaeb, #fdd1c1, #fcf6bd, #d0f4de, #a9def9, #e4c1f9);
  margin: auto;
  transform: rotateY(180deg);
  border-radius: 75%;
}
#site_loader .line > .circle::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#site_loader .line > .circle::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  display: block;
  background: #fff;
  border-radius: inherit;
  transition: inherit;
}
#site_loader .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3rem 2rem;
  opacity: 0;
  transition: all 1s linear;
}
#site_loader .site_logo {
  position: relative;
  width: 100%;
  max-width: 50rem;
  /* height: 50.0rem; */
  border-radius: 75%;
  transition: all linear 0.5s;
  background: linear-gradient(-45deg, #ffdaeb, #fdd1c1, #fcf6bd, #d0f4de, #a9def9, #e4c1f9);
  transform: scale(0.75);
}
#site_loader .site_logo::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  transform: rotateY(180deg);
  border-radius: inherit;
}
#site_loader .site_logo::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  display: block;
  background: #fff;
  border-radius: inherit;
  transition: inherit;
}
#site_loader .site_logo > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  height: 60%;
  margin: auto;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 2;
}
#site_loader.active::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(-45deg, #ffdaeb, #fdd1c1, #fcf6bd, #d0f4de, #a9def9, #e4c1f9);
  opacity: 0.5;
  transform: scale(1);
  z-index: -1;
}
#site_loader.active .wrapper {
  opacity: 1;
}
#site_loader.active .site_logo {
  transform: scale(1);
}

.__next_zoom #map > .inside svg .arc {
  stroke-dasharray: 800;
  stroke-dashoffset: 1000;
}
.__next_zoom #map > .inside svg .arc_01 {
  animation: dash 6s linear alternate forwards;
}
.__next_zoom #map > .inside svg .arc_02 {
  animation: dash 8s linear alternate forwards;
}
.__next_zoom #map > .inside svg .arc_03 {
  animation: dash 10s linear alternate forwards;
}
.__next_zoom #map > .inside svg .arc_04 {
  animation: dash 12s linear alternate forwards;
}
.__next_zoom #map > .inside svg .arc_05 {
  animation: dash 5s linear alternate forwards;
}
@keyframes dash {
  from {
    stroke-dashoffset: 800;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.map_wrapper #map {
  position: relative;
  width: 100%;
  max-width: 80rem;
  margin: auto;
}
.map_wrapper #map > .inside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.map_wrapper #map > .inside svg {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=loader.module.css.map */