@font-face {
	font-family: "button-font";
	src: url("/fonts/Sunflower-Medium.ttf");
}
@font-face {
	font-family: "sub-heading-font";
	src: url("/fonts/PTSerif-Bold.ttf");
}
@font-face {
	font-family: "small-font";
	src: url("/fonts/PTSerif-Regular.ttf");
}
@font-face {
	font-family: "big-font";
	src: url("/fonts/ZenTokyoZoo-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "common-font";
	src: url("/fonts/ZenMaruGothic-Bold.ttf");
}
@font-face {
	font-family: "pera-font";
	src: url("/fonts/ZenMaruGothic-Medium.ttf");
}
@font-face {
	font-family: "inter";
	src: url("/fonts/Inter-Regular.ttf");
}
@font-face {
	font-family: "interBold";
	src: url("/fonts/Inter-Bold.ttf");
}
@font-face {
	font-family: "interBlack";
	src: url("/fonts/Inter-Black.ttf");
}
@font-face {
	font-family: "interLite";
	src: url("/fonts/Inter-Light.ttf");
}
